@import "../../styles/_variables.scss";


.div-container {
  background-color: $base-color-white;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 764px) {
  .div-container {
    margin-top: 5%;
  }
}
