$grid-breakpoints: (
        xs: '480px',
        sm: '576px',
        md: '768px',
        lg: '992px',
        xl: '1200px',
        xxl: '1600px',
);

$base-color-black: #0E1111;
$base-color-white: #F8F8FF;
$base-color-light-blue: #44AADD;
$base-color-dark-blue: #342b60;
$base-color-steel-gray: #9396b0;
$base-color-blue: #002140;
