$grid-breakpoints: (
        xs: '480px',
        sm: '576px',
        md: '768px',
        lg: '992px',
        xl: '1200px',
        xxl: '1600px',
);

$base-color-black: #0E1111;
$base-color-white: #F8F8FF;