@import "../../styles/variables";

.quiz-card {

  .ant-card-actions > li > span > .anticon {
    font-size: 35px;
    color: $base-color-black;
  }

  .ant-card-cover {
    padding-right: 8px;
    padding-left: 8px;
  }

  .quiz-card--img {
    padding-top: 10px;
    width: 15vw;
    height: 12vw;
    max-width: 350px;
    max-height: 320px;
    min-width: 190px;
    min-height: 160px;
    object-fit: cover;
  }

}