.icon-size__extra-small {
  width: 20px
}
.icon-size__smaller {
  width: 25px;
}
.icon-size__small {
  width: 32px
}

.icon-size__medium {
  width: 64px
}

.icon-size__large {
  width: 96px;
}

.icon-color__white {
  color: white;
}

.icon__login-microsoft {
  margin-top: -4px;
  margin-right: 10px
}

.icon__clickable:hover {
  cursor: pointer;
}

