@import "../../styles/_variables.scss";


.col-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz-name {
  font-size: 2rem;
}

.room-name {
  padding: 1rem;
  font-size: 1rem;
  border-top: 2px solid $base-color-dark-blue;
}

