@import "../../styles/_variables.scss";
.div-container {
  background-color: $base-color-white;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 764px) {
  .div-container {
    margin-top: 5%;
  }
}

.row__info {
  background-color: $base-color-steel-gray;
}
.col-text {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $base-color-dark-blue;
}
.ant-table-cell:nth-child(3) {
  display: flex;
  justify-content: center;
}
.div__quiz-name {
  font-size: 2rem;
}

.div__room-name {
  width: 100%;
  background-color: $base-color-dark-blue;
  padding: 1rem;
  text-align: center;
}
.div__room-name h2 {
  color: white;
}
