@import "../../styles/variables";


h3.general-header {
  color: $base-color-black;
  margin-bottom: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 460;
}

.general-header-line{
  border-bottom: 2px solid white;
}