@import "../../styles/_variables.scss";

.col-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer-statistics-question-text {
  border-top: 2px solid $base-color-dark-blue;
}


