@import "src/styles/_variables.scss";

table {
  display: grid;
}
.ant-table-tbody > tr > td {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}

.ant-table-thead > tr > th {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color:  white;
  background-color: $base-color-blue;
}
.ant-table-thead tr {
  display: flex;
  padding-right: 0;
}

.ant-table-thead th {
  flex: 1;
}
.ant-table-row {
  display: flex;
}
.ant-table-row td {
  flex: 1;
  overflow: auto;
}
.columns {
  display: flex;
  align-items: center;
  width: 0;
}

