.ant-table-tbody > tr > td {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.ant-table-thead > tr > th {
  font-size: 1.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color:  #342b60;
  background-color: #E7E7F1;
}
