
.main-page__img-container {
  height: 40vh;
  background: url("../../assets/images/landing-page-cover.jpeg") center no-repeat;
  background-size: cover;
}

.main-page__logo {
  margin-top: -60%;
  width: 14vw;
  max-width: 250px;
  min-width: 110px;
}