@import "styles/_functions.scss";

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
}

.ant-layout {
  height: 100%;
}

.site-layout {
  background: #f0f2f5;

  .ant-layout-header {
    background: #ffffff;
    height: 65px;
  }

}

.site-layout__content {
  margin: 0;
  padding: 24px;
  background: #fff;
  height: 100%;

  @include min-width(sm) {
    margin: 50px;
  }
}

.text-centre {
  text-align: center;
}

.h-100 {
  height: 100%
}

.d-flex {
  display: flex;
}