body {
  margin: 0;
  font-family: "Inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  margin: 15px 5px 10px 15px;
}

.ant-layout {
  height: 100%;
}

.ant-layout-sider {
  height: 100%;
}

.site-layout {
  .ant-layout-header {
    background: #ffffff;
    height: 65px;
  }
}

.ant-menu-inline-collapsed {
  width: 90px;
}