@import "../../styles/_functions.scss";
@import "../../styles/_variables.scss";

.login__illustration {
  height: 350px;

  @include min-width(sm) {
    height: 440px;
  }
}


.login-page {
  .login__microsoft-button {
    padding-top: 2px;
    background: $base-color-blue;
    color: $base-color-white;
    height: 50px;
    border-radius: 12px;
  }
}